<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires"CONTENT="0">


    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" >
    <title>杭州市民政养老救助管理系统</title>

    {% script "/js/extLocation.js" %}
    {% script "/js/config.js" %}

    <script>
        /**加载easyui**/

        document.write('<script type="text/javascript"  src="'+extLocation+
                'jquery-1.8.0.min.js"><\/script>');
        document.write('<script type="text/javascript"  src="'+extLocation+
                'jquery.easyui.min.js"><\/script>');
        document.write('<script type="text/javascript"  src="'+extLocation+
                'locale/easyui-lang-zh_CN.js"><\/script>');
        document.write('<link rel="stylesheet" type="text/css" id="swicth-style" href="'+extLocation+
                'themes/gray/easyui.css"><\/>');


    </script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script data-main="js/mainapp" src="js/require.js"></script>
    {% script "/js/commonfuncs/jquery.json-2.4.js" %}

</head>
<body class="easyui-layout" id="mainlayoutpanel">
<div region="north" border="true" class="cs-north" >
    <div class="cs-north-bg" style="height: 100%; background: url(img/head/head.jpg) repeat-x;">
        <div class="cs-north-logo"
        style="height: 40px; margin: 15px 0px 0px 5px; display: inline-block; color:#000000;font-size:22px;font-weight:bold;text-decoration:none">

        </div>


        <ul class="ui-skin-nav" style="display: block;">
            <li class="li-skinitem" title="gray"><span class="gray" rel="gray"></span></li>
            <li class="li-skinitem" title="default"><span class="default" rel="default"></span></li>
            <li class="li-skinitem" title="bootstrap"><span class="bootstrap" rel="bootstrap"></span></li>
            <li class="li-skinitem" title="black"><span class="black" rel="black"></span></li>
            <li class="li-skinitem" title="metro"><span class="metro" rel="metro"></span></li>
            <li class="li-skinitem" title="pepper-grinder"><span class="pepper-grinder" rel="pepper-grinder"></span></li>
            <li class="li-skinitem" title="blue"><span class="blue" rel="blue"></span></li>
            <li class="li-skinitem" title="cupertino"><span class="cupertino" rel="cupertino"></span></li>
            <li class="li-skinitem" title="dark-hive"><span class="dark-hive" rel="dark-hive"></span></li>
            <li class="li-skinitem" title="sunny"><span class="sunny" rel="sunny"></span></li>
        </ul>

        <ul id="headnavul">
            <li class="li-skinitem" ><img src="img/head/1.png"/><a id="welcomename">欢迎您:</a></li>
            <li class="li-skinitem"><img src="img/head/2.png"/><a id="domneedtodocount" style="cursor:pointer">待办业务(55)</a></li>
            <li class="li-skinitem"><img src="img/head/4.png"/><a id="onlinenums">在线人数(1)</a></li>
            <li class="li-skinitem"><img src="img/head/5.png"/><a id="domshowalterpwd">重设密码</a></li>
            <li class="li-skinitem"><img src="img/head/7.png"/> <a id="domlogout" style="text-decoration: none;">退出</a></li>
        </ul>


    </div>
</div>
<div region="west" id="westpanel" border="true" split="true" title="业务导航" class="cs-west">
    <div class="easyui-accordion" id="menu_pension" fit="true" border="false">
    </div>
</div>
<div id="mainPanle" region="center" border="true" border="false">
    <div id="tabs" class="easyui-tabs"   fit="true" border="false" >
        <div title="主页" class="indexbackground">
            <div class="cs-home-remark">
                <h1>欢迎使用民政养老救助系统</h1>
            </div>
        </div>
    </div>
</div>




</body>
</html>