<table id="businessgrid" class="easyui-datagrid"  style="width:100%;height:100%"
       data-options="

				url: 'datagrid_data2.json',fit:true

			">
    <thead data-options="frozen:true">
    <tr>
        <th data-options="field:'itemid',width:280,align:'center',formatter:function(value,rowData,rowIndex)
            {

                var str='<div></div>';

                str=$(str).append('<a action=&quot;location&quot; class=&quot;locationbtn&quot; style=&quot;display:none;&quot;>定位</a>');
                str=$(str).append('<a action=&quot;location&quot; class=&quot;locationbrsbtn&quot; style=&quot;display:none;&quot;>浏览</a>');
                str=$(str).append('<a action=&quot;location&quot; class=&quot;locationyzbtn&quot; style=&quot;display:none;&quot;>验证</a>');

                str=$(str).append('<a action=&quot;appformsubmit_alter&quot; class=&quot;viewbtn&quot; style=&quot;display:none;&quot;>查看</a>');
                str=$(str).append('<a action=&quot;appformsubmit_alter&quot; class=&quot;alterbtn&quot; style=&quot;display:none;&quot;>修改</a>');
                str=$(str).append('<a action=&quot;appformsubmit_process&quot; class=&quot;processbtn&quot; style=&quot;display:none;&quot;>流程</a>');
                str=$(str).append('<a action=&quot;appformsubmit_send&quot; class=&quot;submitbtn&quot; style=&quot;display:none;&quot;>提交</a>');
                str=$(str).append('<a action=&quot;appformsubmit_del&quot; class=&quot;delbtn&quot; style=&quot;display:none;&quot;>删除</a>');
                str=$(str).append('<a action=&quot;appformsubmit_cancelsend&quot; class=&quot;cancelbtn&quot; style=&quot;display:none;&quot;>取消</a>');
                str=$(str).append('<a action=&quot;appformsubmit_cancelapproval&quot; class=&quot;cancelapprovalbtn&quot; style=&quot;display:none;&quot;>取消审核</a>');
                return str.html();

            }">业务操作</th>

    </tr>
    </thead>
    <thead>
    <tr>
        <th data-options="field:'division',width:200,align:'center'">行政区划</th>
        <th data-options="field:'owername',width:70,align:'center'">户主姓名</th>
        <th data-options="field:'owerid',width:150,align:'center'">户主身份证</th>
        <th data-options="field:'applytype',width:80,align:'center'">申请类别</th>
        <th data-options="field:'poorfamilytype',width:80,align:'center'">致贫原因</th>
        <th data-options="field:'poortype',width:80,align:'center'">分类管理</th>
        <th data-options="field:'familyaccount',width:80,align:'center'">家庭户口</th>
        <th data-options="field:'totalhelpmoney',width:80,align:'center'">救助金额</th>
        <th data-options="field:'time',width:80,align:'center',sortable:true,hidden:true">救助开始日期</th>
        <th data-options="field:'helpbgtime',width:80,align:'center',sortable:true">救助开始日期</th>
        <th data-options="field:'helpedtime',width:80,align:'center'">救助结束日期</th>
        <th data-options="field:'familynum',width:80,align:'center'">家庭人数</th>
        <th data-options="field:'enjoyednum',width:80,align:'center'">享受人数</th>
        <th data-options="field:'processstatus',width:80,align:'center',formatter:function(val,rowData,rowIndex)
            {if(rowData['processstatustype']==processstatustype.ok){
            if(val==processdiction.steptwo)return val+'中';
                else return '已'+val;
            }
            else{
            if(val==processdiction.stepzero)return '已审批'
            else if(val==processdiction.steptwo)return val+'中';
            else return '已'+val; }}">状态</th>
        <th data-options="field:'approvaluser',width:80,align:'center'">审核人</th>
        <th data-options="field:'approvaltime',width:80,align:'center'">审核日期</th>
        <th data-options="field:'displayname',width:80,align:'center'">制单人</th>


    </tr>
    </thead>
</table>


<div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

    <a>开始时间: <input class="easyui-datebox bgdate" style="width:90px"></a>
    <a>结束时间: <input class="easyui-datebox eddate" style="width:90px"></a>
    <a>快速搜索: <input class="easyui-validatebox keyword" type="keyword" data-options="required:false" style="width:150px"></a>

    <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>

</div>