<form id="pinggu" method="post">
<div style="padding:5px;border:1px solid #ddd;">
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-cancel'">Cancel</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Refresh</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">Search</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true" id="submit">提交</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-help'"> </a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'"></a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'"></a>
</div>

<fieldset style="width: 1024px;margin: 0px auto;"><legend>用户基本信息</legend>
    <div>
        <table class="formtable">
            <tr>
                <td class="formtdtext">行政区划:</td>
                <td colspan="3">
                    <input class="easyui-combotree" ></td>
                <td rowspan="4" colspan="2" style="text-align: center;" >
                    <img src="img/noperson.gif" id="personimg" alt="用户照片" height="101" width="91"></td>
            </tr>

            <tr>
                <td class="formtdtext">姓名:</td>
                <td><input class="easyui-validatebox" id="owername" type="text" name="owername" data-options="required:true"></td>
                <td class="formtdtext">身份证号码:</td>
                <td><input class="easyui-validatebox"  id="owerid" type="text" name="owerid"
                           data-options="required:true,invalidMessage:'请输入正确身份证号!',validType:'personid'"></td>

            </tr>

            <tr>
                <td class="formtdtext">性别:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text" searchtype="dbglapplytype"
                           name="applytype"
                           data-options="required:true,valueField: 'value',
                                         textField: 'label' "></td>
                <td class="formtdtext">出生年月:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text"
                           name="poortype" searchtype="dbglpoortype"
                           data-options="required:true,valueField: 'value',textField: 'label'"></td>

            </tr>

            <tr>
                <td class="formtdtext">民族:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text"
                           name="familyaccount"  searchtype="dbglfamilyaccount"
                           data-options="required:true,valueField: 'value',
                                         textField: 'label'"></td>
                <td class="formtdtext">文化程度:</td>
                <td><input  type="text" name="accountaddress"></td>
            </tr>
            <tr>
                <td class="formtdtext">籍贯:</td>
                <td><input  type="text" name="accountzipcode" ></td>
                <td class="formtdtext">婚姻状况:</td>
                <td><input  type="text" name="realaddress" ></td>


            </tr>
            <tr>
                <td class="formtdtext">曾从事职业:</td>
                <td><input  type="text" name="telnum" ></td>
                <td class="formtdtext">社保卡号:</td>
                <td><input  type="text" name="telnum" ></td>
            </tr>
            <tr>
                <td class="formtdtext">居住情况:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">经济条件:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>

            <tr>
                <td class="formtdtext">户籍所在地:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">邮编:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>
            <tr>
                <td class="formtdtext">居住地址:</td>
                <td colspan="3"><input type="text" name="bankid" size="50"></td>
            </tr>
            <tr>
                <td class="formtdtext">住宅电话:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">申请人手机:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>

        </table>
    </div>

</fieldset>


<fieldset style="width: 1024px;margin: 0px auto;"><legend>评估报告一:评估总分计算</legend>

    <table class="formtable" style="width:100%">
        <tbody><tr>
            <td colspan="2">主要参数</td>

            <td>评估分值</td>
        </tr>
        <tr>
            <td>评估分值1</td>
            <td>生活处理能力</td>
            <td>32.5分</td>
        </tr>
        <tr>
            <td>评估分值2</td>
            <td>居住环境</td>
            <td>15分</td>
        </tr>
        <tr>
            <td>评估分值3</td>
            <td>经济条件</td>
            <td>20分</td>
        </tr>
        <tr>
            <td>附加分值1</td>
            <td>认知能力</td>
            <td>0分</td>
        </tr>
        <tr>
            <td>附加分值2</td>
            <td>年龄情况</td>
            <td>10分</td>
        </tr>
        <tr>
            <td>附加分值3</td>
            <td>特殊贡献</td>
            <td>0分</td>
        </tr>
        <tr>
            <td>评估总分</td>
            <td>评估分值1+评估分值2+评估分值3<br>+附加分值1+附加分值2+附加分值3</td>
            <td>77.5分</td>
        </tr>
        <tr>
            <td>建议服务标准</td>
            <td colspan="2">6小时</td>
        </tr>
        <tr>
            <td>备注</td>
            <td colspan="2">
                <textarea name="message" style="height:60px;width: 90%"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>

<fieldset style="width: 1024px;margin: 0px auto;"><legend>评估报告三:评估报告确认</legend>

    <table class="formtable" style="width:1024px;">
        <tbody>
        <tr>
            <td style="width:255px;">评估编号</td>
            <td style="width:255px;"><input></td>
            <td style="width:255px;">完成日期</td>
            <td style="width:255px;"><input></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr style="height: 20px;">
                      <td rowspan="4">评估员确认完成</td>
                      <td>姓名</td>
                    </tr>
                    <tr style="height: 20px;"> <td>联网电话</td> </tr>
                    <tr style="height: 20px;"> <td>所属单位</td> </tr>
                    <tr style="height: 20px;"> <td>评估分值</td> </tr>
                </table>
            </td>
            <td colspan="3" >
                <table style="margin-left: 0px;">
                    <tr><td style="width:250px;"><input size="20"></td>
                        <td colspan="2" rowspan="2" style="width:500px;">
                            <table>
                                <tr><td rowspan="3" style="width: 250px;">确认完成</td>
                                    <td><input type="radio" name="sex" value="1">首次评估</td></tr>
                                <tr><td><input type="radio" name="sex" value="2">复检评估</td></tr>
                                <tr><td><input type="radio" name="sex" value="3">变更评估</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td><input size="20"></td></tr>
                    <tr><td colspan="3"><input size="60"></td></tr>
                    <tr><td><input size="20"></td>
                        <td>
                            建议服务时间
                        </td>
                        <td>
                            <input>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>社区意见</td>
            <td colspan="3">
                <textarea name="message" style="height:60px;width: 90%"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>


</form>