<fieldset><legend>生活自理能力</legend>

    <table class="formtable">
        <tbody>
        <tr>
            <td >评估编号</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
        </tr>
        <tr>
            <td >评估编号</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
        </tr>
        <tr>
            <td >评估编号</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
            <td >完成日期</td>
            <td ><input></td>
        </tr>
        <tr>
            <td >评估编号</td>
            <td colspan="5"><input></td>
        </tr>
        
        </tbody>
    </table>
</fieldset>