<fieldset style="width: 800px;margin: 0px auto;"><legend>年龄情况</legend>
    <table class="formtable">
        <tr>
            <td rowspan="2">年龄情况</td>
            <td>出生日期:
                <input class="easyui-datebox">
            </td>
            <td>_年_月_日(以身份证为准)</td>
        </tr>
        <tr>
            <td>现有年龄:<input size="1" class="pingfen"></td>
            <td>
                <ul style="list-style-type:none">
                    <li><span style="width: 100px;">1. 60-79&nbsp;&nbsp;</span><label><input name="nlduan" type="radio" value="jk_bs_gaoxy" />0分</label></li>
                    <li><span style="width: 100px;">2. 80-89&nbsp;&nbsp;</span><label><input name="nlduan" type="radio" value="jk_bs_gaoxy" />5分</label></li>
                    <li><span style="width: 100px;">3. 90以上</span><label><input name="nlduan" type="radio" value="jk_bs_gaoxy" />10分</label></li>
                </ul>
            </td>

        </tr>


        <tr><td>评分</td>
            <td colspan="3"></td>
        </tr>

    </table>
</fieldset>