<fieldset style="width: 800px;margin: 0px auto;"><legend>居住环境</legend>
    <table class="formtable">
        <tr>
            <td rowspan="4">居住环境</td>
            <td style="text-align: center;">分类</td>
            <td>判断评分</td>
            <td>是否有生活照料</td>
        </tr>
        <tr>
            <td>与子女,亲友共住</td>
            <td><label><input name="jzhj" type="radio" value="jk_bs_gaoxy" />15分</label></td>
            <td>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />是</label>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />否</label>
            </td>
        </tr>
        <tr>
            <td>空巢</td>
            <td><label><input name="jzhj" type="radio" value="jk_bs_gaoxy" />20分</label></td>
            <td>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />是</label>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />否</label>
            </td>
        </tr>
        <tr>
            <td>独居,孤寡</td>
            <td><label><input name="jzhj" type="radio" value="jk_bs_gaoxy" />25分</label></td>
            <td>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />是</label>
                <label><input name="sfyshzl" type="radio" value="jk_bs_gaoxy" />否</label>
            </td>
        </tr>

        <tr><td>评分</td>
            <td colspan="3"></td>
        </tr>
        <tr><td>评估员</td>
            <td colspan="3"></td>
        </tr>
    </table>
</fieldset>