<fieldset style="width: 800px;margin: 0px auto;"><legend>特殊贡献</legend>
    <table class="formtable">
        <tr>
            <td>特殊贡献</td>
            <td>
                <ul style="list-style-type:none">
                    <li><span style="width: 100px;">1. 市级以上劳模</span><label><input name="tsgongxian" type="radio" value="jk_bs_gaoxy" />10分</label></li>
                    <li><span style="width: 100px;">2. 重点优抚对象</span><label><input name="tsgongxian" type="radio" value="jk_bs_gaoxy" />10分</label></li>
                    <li><span style="width: 100px;">2. 纯居干&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span><label><input name="tsgongxian" type="radio" value="jk_bs_gaoxy" />10分</label></li>
                    <li><span style="width: 100px;">3. 离休干部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span><label><input name="tsgongxian" type="radio" value="jk_bs_gaoxy" />10分</label></li>
                </ul>
            </td>

        </tr>


        <tr><td>评分</td>
            <td></td>
        </tr>
        <tr><td>评估员</td>
            <td></td>
        </tr>

    </table>
</fieldset>