<fieldset style="width: 800px;margin: 0px auto;"><legend>评估报告三:评估报告确认</legend>

    <table class="formtable">
        <tr>
            <td colspan="5" style="text-align: center;">评估表基本信息</td>
        </tr>
        <tr>
            <td colspan="2">评估表编号</td>
            <td></td>
            <td>完成日期</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="5" style="width: 30px;">评估确认员完成</td>
            <td style="width: 200px;">评估员姓名</td>
            <td style="width: 200px;"></td>
            <td rowspan="2" style="width: 150px;">确认完成</td>
            <td rowspan="2">
                <ul style="list-style-type:none">
                    <li><label>首次评估<input type="radio" name="realend"></label></li>
                    <li><label>复检评估<input type="radio" name="realend"></label></li>
                    <li><label>变更评估<input type="radio" name="realend"></label></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>联络电话</td>
            <td></td>
        </tr>

        <tr>
            <td>所属单位</td>
            <td colspan="3"></td>
        </tr>

        <tr>
            <td>评估员签名</td>
            <td></td>
            <td>日期</td>
            <td></td>
        </tr>

        <tr>
            <td>评估分值</td>
            <td></td>
            <td>服务时间</td>
            <td></td>
        </tr>

        <tr>
            <td>社区(村)意见</td>
            <td colspan="4"><textarea style="width: 99%;"></textarea></td>
        </tr>
        <tr>
            <td>街镇审查</td>
            <td colspan="4"><textarea style="width: 99%;"></textarea></td>
        </tr>
        <tr>
            <td>民政局审核</td>
            <td colspan="4"><textarea style="width: 99%;"></textarea></td>
        </tr>


    </table>
</fieldset>